{% extends 'base.html' %}

{% block title %}Apartamentos{% endblock %}

 {% block content %}
    <div class="container-fluid">
        <div>
            <h2>Apartamento {{ apartamento.numero }}</h2>
        </div>

        <div class="container mt-5 d-flex justify-content-center">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" style="background: green; color: #f0f0f0">Pesquisar</button>
            </form>
        </div>

        <div class="container mt-5 d-flex justify-content-center">
            <table class="table table-info">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Bloco</th>
                        <th>Proprietario</th>
                        <th>Morador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for apartamento in apartamentos %}
                        <tr>
                            <td>{{ apartamento.numero }}</td>
                            <td>{{ apartamento.bloco }}</td>
                            <td>{{ apartamento.proprietario }}</td>
                            <td>{{ apartamento.morador }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
