{% load static %}
{% load django_bootstrap5 %}
{% load icons %}
<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ condominio.nome }}{% endblock %}</title>
    {% bootstrap_css %}
            <!--font Google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <style>
        .logo-area {
            background-color: #007bff; /* Azul */
        }
        
        .logo-area img {
            max-width: 400px;
            padding: 100%;/* Ajuste o tamanho máximo da logo conforme necessário */
            margin-top: 0; /* Ajuste o espaçamento conforme necessário */
        }
    </style>
</head>
<body>
    <header class="bg-primary pt-5">
        <div class="content bg-primary .col-lg-3" style="margin: 0; padding: 0;">
            <div class="text-center mt-3">
                <img src="{{ condominio.logo }}" alt="logo-condominio" class="rounded-circle"
                     style="max-width: 200px;">
            </div>
            <div class="text-center mt-3">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                  <div class="container-fluid">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="fas fa-angle-right"></span>
                    </button>
                    
                  </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-primary">
            <div class="user-profile text-center mb-4">
                <img src="{{ user.funcionarios.imagem_funcionario.url }}" alt="Foto do Usuário" class="rounded-circle mb-4" style="width: 150px; color: #b6d4fe">
                <p class="text-white">{{ user.funcionario.nome }}</p>
            </div>
            <div class="col-12 px-5 pb-md-5 align-content-center">
                <ul class="nav flex-column mb-4">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'agendamentos/lista' %}">Agenda</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'inquilino-list' %}">Moradores</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'agendamentos/lista' %}">Proprietários</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'agendamentos/lista' %}">Apartamentos</a>
                    </li>
                
                    <li class="nav-item">
                          {% if usuario.funcionario.condominio %}
                              <a href="{% url 'editar_condominio' usuario.funcionario.condominio.id %}" class="nav-link text-white">Editar Condominio</a>
                          {% else %}
                             <a href="{% url 'criar_condominio' %}" class="nav-link text-white">Criar Condominio</a>
                          {% endif %}
                    </li>
                    <li class="nav-item">
                         <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
                    </li>
                    <!-- Adicione mais links de acordo com sua necessidade -->
                </ul>
            </div>
        </div>
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="row-cols-auto mt-5 d-flex justify-content-center">
                
                {% block content %}
                    
                {% endblock %}
            </div>
        </div>
    </section>

    <footer class="footer fixed-bottom" style="background: linear-gradient(to bottom, rgb(2, 117, 216), black); color: white;">
        <div class="container d-flex justify-content-center align-items-center">
            &copy Hc DevWorks
        </div>
    </footer>
    {% bootstrap_javascript %}
</body>
</html>