{% extends 'base.html' %}

{% block title %}Lista de Moradores{% endblock %}
{% block content %}
    <h1>Inquilinos</h1>
         <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Bloco</th>
                    <th>Apartamento</th>
                    <th>Contato</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
                {% for inquilino in inquilinos %}
                    <tr>
                        <td>{{ inquilino.nome }}</td>
                        <td>{{ inquilino.bloco }}</td>
                        <td><a href="">{{ inquilino.apartamento }}</a></td>
                        <td>{{ apartamento.tel_cont1 }}</td>
                        <td>{{ inquilino.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}